<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="large-text">
    <div id="leaderboard-container" class="full-width">
        <header>
            <h1>Leaderboard</h1>
        </header>
        <main>
            <section class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Username</th>
                            <th>Elo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.elo }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            <p class="back-to-home">
                <a href="{{ url_for('index') }}" class="back-link">Back to Home</a>
            </p>
        </main>
    </div>
</body>
</html>
